.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  background-color: rgba(11, 11, 11, 0.5) !important;
  z-index: 700;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  opacity: 0;
  border: none !important;
  inset: unset !important;
  transition: all 300ms ease-in-out;
  top: 50% !important;
  left: 50% !important;
  width: 95%;
  max-width: 380px;
  transform: translate(-50%, -65%) !important;
  z-index: 800;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transform: translate(-50%, -50%) !important;
}

.ReactModal__Content--before-close {
  opacity: 0;
  transform: translate(-50%, -65%) !important;
}
