@mixin mq($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);
  @if ($size) {
    @media #{$size} {
      @content;
    }
  } @else {
    @error '"#{breakpoint}" - No such breakpoint';
  }
}

@mixin aside {
  visibility: hidden;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100vw;
  top: 0;
  bottom: 0;
  z-index: $level1;
  opacity: 0;
  height: 100%;
  transition: all 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
}
