@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Quicksand:wght@300;400;500&display=swap');

$sizeXXS: '1rem';
$sizeXS: '1.2rem';
$sizeXSM: '1.4rem';
$sizeS: '1.6rem';
$sizeSM: '1.9rem';
$sizeM: '2.1rem';
$sizeL: '2.4rem';
$sizeLM: '3rem';
$sizeXL: '4rem';

$main-font: 'Montserrat', sans-serif;
$sub-font: 'Quicksand', sans-serif;
$sub-font2: 'Comfortaa', cursive;
$special-font: 'Nanum Pen Script', cursive;
$special-font2: 'Nova Mono', monospace;

$bold: 600;
$medium: 500;
$regular: 400;
$light: 300;
