$white: #ffffff;
$blue: #6fb3eb;
$dark: #272727;
$gray: #414141;

$box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);

$breakpoints: (
  xxs: (
    min-width: 390px,
  ),
  xs: (
    min-width: 450px,
  ),
  sm: (
    min-width: 576px,
  ),
  md: (
    min-width: 768px,
  ),
  lg: (
    min-width: 992px,
  ),
  xl: (
    min-width: 1200px,
  ),
  xxl: (
    min-width: 1600px,
  ),
  landscape: (
    max-height: 500px,
  ),
);

//z-index
$level1: '100';
$level2: '200';
$level3: '300';
$level4: '400';
$level5: '500';
$level6: '600';
$level7: '700';
$level8: '800';
$level9: '900';
$level10: '1000';
